myhostname = mail.local
mydomain = local
myorigin = $mydomain
inet_interfaces = all
mydestination = $myhostname, localhost, localhost.localdomain, local
mynetworks = 127.0.0.0/8
mailbox_size_limit = 0
